lamguage: python
python:
    - "3.4"
install:
    - pip install --user -r requirements.txt
script:
    - python -m json.tool wwwids_rules.json
    - python -m jsonschema -i wwwids_rules.json wwwids_rules.schema
