apikey: APIKEY
accesslog: /var/log/apache2/access_log
wwwids_rules: /Users/jose/code/fsharp/indicators/wwwids_rules.json
wordpotlog: /Library/WebServer/Documents/wp/wordpot.log
xmlrpc_ddoslog: /Library/WebServer/Documents/wp/ddos.log
phpmyadminlog: /Library/WebServer/Documents/phpMyAdmin/scripts/phpmysqladmin_log.json
kippodir: /Users/jose/honeynet/src/third-party/kippo-0.5
kippodldir: /Users/jose/honeynet/src/third-party/cowrie/dl
kippolog: /Users/jose/honeynet/src/third-party/cowrie/log/cowrie.log
malwaredir: /Users/jose/vxcage/malware
exemptions: /Users/jose/code/fsharp/indicators/indicator.exemptions